{% extends "base.html" %}
{% load blog_extras cache markdownify %}
{% block content %}
  <h2>{{ post.title }}</h2>  
  {% row %}
    {% col %}
      {% include "blog/post-byline.html" %}
    {% endcol %}
  {% endrow %}
  {% if post.hero_image %}
    {% row %}
      {% col %}
        <img class="img-fluid" src="{{ post.hero_image.url }}">
      {% endcol %}
    {% endrow %}
  {% endif %}
  {% row %}
    {% col %}
      <div class="post-detail mt-3 mb-3">
        {{ post.content|markdownify }}
      </div>
    {% endcol %}
  {% endrow %}
  {% row %}
    {% col %}
      {% if post.author.profile %}
        <figure>
          <blockquote class="blockquote">
            <p>About the author</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            {{ post.author.profile.bio }}
          </figcaption>
        </figure>
      {% endif %}
      <div class="mt-4 mb-4">
        {% include "blog/post-comments.html" %}
      </div>
      <div class="mt-4 mb-4">
        {% cache 3600 recent_posts post %}
          {% recent_posts post %}
        {% endcache %}
      </div>
    {% endcol %}
  {% endrow %}
{% endblock %}