{% extends "base.html" %}
{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About me</li>
    </ol>
  </nav>

  <h2>Eduardo Argueta</h2>
  <p class="lead">
    Hi, I am Eduardo, an experienced Software Engineer in backend, frontend, and mobile development. I also have some
    background in computer security & videogames programming. I enjoy learning new things in my free time, interested in
    technology and natural languages. Feel free to <a href="mailto:argueta_eduardo@yahoo.de">c😃ntact me</a>!
  </p>
  <br>
  <div id="Experience">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {# StepStone #}
      <div class="col">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <span class="text-danger">StepStone</span> &nbsp;
            <span class="text-secondary text-end">July 2021 - March 2023</span>
          </div>
          <div class="card-body text-dark">
            <h5 class="card-title">Software Developer</h5>
            <ul>
              <li> Worked alongside a distributed team of product owners, engineers, and testers in an agile
                fashion
              </li>
              <li> Did refactoring and developed new features</li>
              <li> Wrote unit tests</li>
            </ul>
          </div>
        </div>
      </div>
      {# fedisal R #}
      <div class="col">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <span class="text-danger">Fedisal</span> &nbsp;
            <span class="text-secondary text-end">2019 - 2020</span>
          </div>
          <div class="card-body text-dark">
            <h5 class="card-title">Senior Backend Engineer</h5>
            <ul>
              <li> Developed and bug fixed backend APIs to a release version</li>
              <li> Deployed backend on Linux running a Nginx server</li>
              <li> Integrated backend with Redis to improve performance</li>
            </ul>
          </div>
        </div>
      </div>
      {# udb2 #}
      <div class="col">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <span class="text-danger text-start">UDB</span> &nbsp;
            <span class="text-secondary text-end">January 2017 - Juli 2021</span>
          </div>
          <div class="card-body text-dark">
            <h5 class="card-title">Software Architect</h5>
            <ul>
              <li>Did coding standards, architectural/code review and documentation</li>
              <li>Acting as Scrum Master and Lead Engineer for small teams</li>
              <li>Mentoring junior programmers</li>
            </ul>
          </div>
        </div>
      </div>
      {# udb1 #}
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
      <div class="col">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header" style="padding-right: 0">
            <span class="text-danger">UDB</span> &nbsp;
            <span class="text-secondary text-end">Agt. 2013 - December 2016</span>
          </div>
          <div class="card-body text-dark">
            <h5 class="card-title">Software Engineer</h5>
            <ul>
              <li> Migrated SOAP endpoints to RESTful APIs</li>
              <li> Developed APIs and Web Applications end-to-end</li>
            </ul>
          </div>
        </div>
      </div>
      {# Alertux #}
      <div class="col">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <span class="text-danger">Alertux</span> &nbsp;
            <span class="text-secondary text-end">May - August 2013</span>
          </div>
          <div class="card-body text-dark">
            <h5 class="card-title">Python Engineer</h5>
            <ul>
              <li> Designed algorithm for analysing tweets</li>
              <li> Developed greenfield website</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div id="Skills">
    <p class="h3">Skills</p>
    <div class="row">
      <div class="col-xs-12 col-lg-3">
        <ul class="list-group">
          <li class="list-group-item list-group-item-warning" aria-current="true">Frontend</li>
          <li class="list-group-item">JavaScript/TypeScript</li>
          <li class="list-group-item">React</li>
          <li class="list-group-item">CSS3 & Sass</li>
          <li class="list-group-item">Bootstrap, Foundation</li>
        </ul>
      </div>
      <div class="col-xs-12 col-lg-5">
        <ul class="list-group">
          <li class="list-group-item list-group-item-warning" aria-current="true">Backend</li>
          <li class="list-group-item">Python [Django/DRF, FastAPI, Flask]</li>        
          <li class="list-group-item">Ruby on Rails, NestJS, Go (learning)</li>
            <li class="list-group-item">C# [.NET Core & .NET Framework]</li>
          <li class="list-group-item">Postgres, Redis, MongoDB</li>
          <li class="list-group-item">RESTful APIs, microservices</li>
        </ul>
      </div>
      <div class="col-xs-12 col-lg-4">
        <ul class="list-group">
          <li class="list-group-item list-group-item-warning" aria-current="true">Platforms & Tools</li>
          <li class="list-group-item">AWS, Linux, Heroku</li>
          <li class="list-group-item">Docker, Docker comp. / K8s</li>
          <li class="list-group-item">Celery & RabbitMQ</li>
          <li class="list-group-item">Git</li>
          <li class="list-group-item">CI/CD</li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div id="languages">
    <p class="h3">Languages</p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%; color: black"
           aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Spanish
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar"
           style="width: 94%; color: black" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">English
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar"
           style="width: 66%; color: black" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">German
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar"
           style="width: 45%; color: black" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">Italian
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar"
           style="width: 40%; color: black" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">French
      </div>
    </div>
  </div>
<br>
  <div id="badges" class="text-center">
    <div data-iframe-width="300" data-iframe-height="300" data-share-badge-id="00f84ffa-85db-4559-8d58-719bb21cc905" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
  </div>
  <br>
{% endblock %}
