{% extends "base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About me</li>
  </ol>
</nav>
  <h2>Eduardo Argueta</h2>
  <p class="lead">
  Hi, I am Eduardo, an experienced Software Engineer in backend, frontend, and mobile development. I also have some background in computer security & videogames programming. I enjoy learning new things in my free time, interested in technology and natural languages. Feel free to c😃ntact me!
  </p>

  <div id="Skills">
  <p class="h3">Skills</p>
   <div class="row">
      <div class="col-xs-12 col-lg-4">
        <ul class="list-group">
          <li class="list-group-item list-group-item-warning" aria-current="true">Frontend</li>
          <li class="list-group-item">JavaScript/TypeScript</li>
          <li class="list-group-item">React</li>
          <li class="list-group-item">Vue.js</li>
          <li class="list-group-item">CSS3 & Sass</li>
           <li class="list-group-item">Bootstrap & Foundation</li>
        </ul>
      </div>
      <div class="col-xs-12 col-lg-4">
        <ul class="list-group">
          <li class="list-group-item list-group-item-warning" aria-current="true">Backend</li>
          <li class="list-group-item">Python [Django/DRF, FastAPI, Flask]</li>
          <li class="list-group-item">C# [.NET Core & .NET Framework]</li>
          <li class="list-group-item">Ruby on Rails</li>
          <li class="list-group-item">Postgres, MSSQL, Redis, MongoDB</li>
           <li class="list-group-item">RESTful APIs, microservices</li>
        </ul>
      </div>
      <div class="col-xs-12 col-lg-4">
        <ul class="list-group">
          <li class="list-group-item list-group-item-warning" aria-current="true">Platforms & Tools</li>
          <li class="list-group-item">AWS, Linux, Heroku</li>
          <li class="list-group-item">Docker</li>
          <li class="list-group-item">Celery & RabbitMQ</li>
          <li class="list-group-item">Git</li>
          <li class="list-group-item">CI/CD</li>
        </ul>
      </div>
   </div>
  </div>

  <div id="languages">
    <p class="h3">Languages</p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%; color: black" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Spanish</div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 94%; color: black" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">English</div>
    </div>
    <div class="progress">
       <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 66%; color: black" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">German</div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 45%; color: black" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">Italian</div>
    </div>
    <div class="progress">
       <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 40%; color: black" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">French</div>
    </div>
   <div id="experience">

   </div>

  </div>

{% endblock %}